extends ./layout.pug
block content
	.container-fluid.pb-5(style=`max-width: ${maxWidth}px;`)
		nav.py-3(aria-label="breadcrumb")
			ol.breadcrumb.m-0
				li.breadcrumb-item
					a.text-brown.text-decoration-none(href="/") Trang chủ
				li.breadcrumb-item
					a.text-brown.text-decoration-none(href= pI.url)= pI.title

		table.table
			thead
				tr
					td STT
					td Tên sản phẩm
					td Đơn giá
					td Số lượng
					td Thành tiền
					td Tác vụ
			tbody
				each p, i in cart.products
					tr
						td= i+1
						td= p.name
						td= p.price
						td= p.quantity
						td= p.total
						td
							button.btn.p-1.btn-white.btn-hover_danger.border-0(role="open-dropdown" type='button' rel="tooltip" data-bs-placement="top" title="Xoá")
								span(data-feather="x")
							ul.dropdown-menu.p-0.position-absolute.top-100(style="min-width:unset")
								li
									a.dropdown-item.p-2.text-danger(href='#' data-id=p._id role="confirm-delete-product") Xác nhận
								li
									span.dropdown-item.p-2(role="button" rel="close-dropdown") Huỷ

			else
				.col-12.text-center
					h4 Chưa có sản phẩm nào!