extends ./layout.pug
block content
	.container-fluid.pb-5(style=`max-width: ${maxWidth}px;`)
		nav.py-3.mt-3(aria-label="breadcrumb")
			ol.breadcrumb.m-0
				li.breadcrumb-item
					a.text-brown.text-decoration-none(href="/") Trang chủ
				li.breadcrumb-item.active
					span.text-decoration-none= pI.title
		// cart
		.h4.text-brown= pI.title
		#err-text.text-danger
		table.table
			thead
				tr
					th(scope='col' colspan="2")
						span Sản phẩm 
						span#cart-prd-num= `(${prds.length})`
					th.text-end(scope='col') Đơn giá
					th.text-center(scope='col') Số lượng
					th.text-end(scope='col') Thành tiền
					th(scope='col')
			tbody#cart-prds
				each p in prds
					tr
						th
							a.text-decoration-none.text-brown(href=p.url)
								img.rounded.img-fluid(src=p.img style="max-height:100px;")
						td.align-middle(scope='row')
							a.text-decoration-none.text-brown(href=p.url)= p.pname
						td.align-middle.text-end= p.priceDisplay
						td.align-middle.text-center
							if p.stock > 0
								.input-group.justify-content-center
									button.btn.btn-light.border.p-1(rel="sub-quantity")
										span(data-feather="minus")
									input.form-control.p-1.text-center(name="prd-quan" data-pid=p.id type="text" max=p.stock data-price=p.price value= p.quantity style="max-width:40px;")
									button.btn.btn-light.border.p-1(rel="add-quantity")
										span(data-feather="plus")
							else
								span Sản phẩm đã hết hàng
						td.align-middle.text-end.fw-bold(rel="total-prd-price")= p.totalDisplay
						td.align-middle.text-center
							.wrap.position-relative
								button.btn.btn-sm.btn-outline-danger.border-0(role="open-dropdown" type='button' rel="tooltip" data-bs-placement="top" title="Xoá")
									span(data-feather="trash")
								ul.dropdown-menu.p-0.position-absolute.top-100(style="min-width:unset; left:50%; transform: translate(-50%,0%)")
									li
										a.dropdown-item.p-2.text-danger(href='#' data-pid=p.id role="remove-product" rel="tooltip" data-bs-placement="right" title="Xác nhận")
											span(data-feather="check")
									li
										span.dropdown-item.p-2(role="button" rel="tooltip" data-bs-placement="right" title="Hủy")
											span(data-feather="x")
				else
					tr
						td(colspan="6") Chưa có sản phẩm nào trong giỏ hàng
		.h4.fw-bold.text-end.text-brown(rel="total-cart-price")= total
		.text-end
			a.btn.btn-brown.fs-4.px-4(href="prepare-order") Mua hàng
