extends ./layout.pug
block content
	#myCarousel.carousel.slide.carousel-dark(data-bs-ride='carousel')
		.carousel-indicators
			each b,i in banners
				button(class=i==0?"active":"" type='button' data-bs-target='#myCarousel' data-bs-slide-to=i aria-current='true' aria-label='Slide 1')
		.carousel-inner
			each b,index in banners
				.carousel-item(class= (index == 0)? "active" : "")
					img.img-fluid(style="max-width:1200px; max-height:455px; height:auto; min-width:unset;left:50%;transform:translateX(-50%); width:100vw; padding-left:.75rem; padding-right:.75rem;" src=`img/banner/${b.bImg}`)
				//- svg.bd-placeholder-img(width='100%' height='100%' xmlns='http://www.w3.org/2000/svg' aria-hidden='true' preserveAspectRatio='xMidYMid slice' focusable='false')
					rect(width='100%' height='100%' fill='#777')
		button.carousel-control-prev(type='button' data-bs-target='#myCarousel' data-bs-slide='prev')
			span.carousel-control-prev-icon(aria-hidden='true')
			span.visually-hidden Trước
		button.carousel-control-next(type='button' data-bs-target='#myCarousel' data-bs-slide='next')
			span.carousel-control-next-icon(aria-hidden='true')
			span.visually-hidden Sau
	.container-fluid.pb-5(style=`max-width: ${maxWidth}px;`)
		.row.row-cols-2.row-cols-md-3.g-4
			each rt in roomtypes
				a.col(href=`${rt.rtName.normalize("NFD").replace(/[\u0300-\u036f]/g, "").replace(" ", "-").toLowerCase()}`)
					.card.h-100.position-relative.border-0.overflow-hidden
						img.h-100.card-img-top.hover-zoom(src=`img/roomtypes/${rt.rtImg}`)
						.card-title.fs-4.text-brown.bg-white.p-2.p-md-3.position-absolute.top-0.end-0.mt-4= rt.rtName
		.row
			hr.featurette-divider.my-5
		each rt in groupPrdByRt
			h5.bg-white.border-bottom.rounded
				a.d-inline-block.bg-brown.p-3.text-decoration-none.text-white(href= rt.url)= rt.title
			.row.row-cols-2.row-cols-md-4.g-3.mb-5
				.col.d-none.d-md-block
					ul.list-group.bg-white
						each pc in rt.pcs
							a.text-decoration-none.rounded(href= pc.url)
								li.list-group-item.bg-hover-brown_light.text-brown.border-0= pc.title
				each p,index in rt.ps
					.col(class= index%3==0 && index!=0 ? 'offset-3' : '')
						.card.h-100.product-card.border-0
							a.position-relative.overflow-hidden(href= p.url)
								img.card-img-top.hover-zoom(src=`img/products/${p.img}`)
								.bg-blur.position-absolute.w-100.h-100.top-0.bg-dark
								.btn-detail.position-absolute.top-100.start-50.btn.btn-brown.p-2.d-flex.align-items-center
									span(data-feather="eye")
									span.ms-1 Chi tiết
							.card-body
								a.card-title.text-decoration-none.text-brown.fw-bold(href= p.url)= p.title
								.fs-5
									del.fs-6.small.text-secondary= p.price
									span.fs-6.small.text-dark= ` (-${p.disc}%)`
									.text-danger.fw-bold= p.priceAfter


