doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name='description' content='Đồ gỗ nội thất')
        meta(name='author' content='Nguyễn Đình Tưởng')
        link(rel="icon" href="img/icon/main-icon-sm.png")
        link(rel="stylesheet" href="plugin/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet" href="plugin/jquery-ui/jquery-ui.min.css")
        link(rel="stylesheet" href="plugin/summernote/summernote.min.css")
        link(rel="stylesheet" href="plugin/photoviewer/photoviewer.min.css")
        link(rel="stylesheet" href="css/carousel.css")
        link(rel="stylesheet" href="css/common.css")
        link(rel="stylesheet" href="css/colors.css")
        link(rel="stylesheet" href="css/photoviewer-custom.css")
        script(src="plugin/jquery/js/jquery.min.js", defer)
        script(src="plugin/jquery-ui/jquery-ui.min.js" defer)
        script(src="plugin/bootstrap/js/bootstrap.bundle.min.js", defer)
        script(src="plugin/bootstrap/js/popper.min.js", defer)
        script(src="plugin/feather/js/feather.min.js", defer)
        script(src="plugin/summernote/summernote.min.js" defer)
        script(src="plugin/photoviewer/photoviewer.min.js" defer)
        script(src="js/common.js", defer)
        script(src=`js/${pI.url}.js`, defer)
        title= (shopinfo)?shopinfo.siName:'Đồ gỗ nội thất'
        - var maxWidth = 1200
    body.position-relative(style="min-height: 100vh; padding-bottom: 10rem;")
        nav.navbar.navbar-expand-md.fixed-top.bg-white
            .container-fluid(style=`max-width: ${maxWidth}px;`)
                a.navbar-brand.p-0(href='/')
                    img.img-fluid(src=`img/logo/${(shopinfo)?shopinfo.siLogo:'logo.png'}` style="height:42px;")
                if shopinfo
                    ul.navbar-nav.me-auto.collapse.navbar-collapse
                        li.nav-item
                            span.text-brown(href='#') Hotline: #{shopinfo.siHotline}
                form.w-50
                    .input-group.position-relative
                        input#search-input.form-control.border-dark.border-end-0.border-brown.pe-0(name="keyword" type="text" placeholder="Tìm kiếm sản phẩm" role="open-dropdown")
                        button.btn.btn-outline-brown.border-start-0.border-radius-end.p-2(type='submit')
                            i(data-feather="search")
                        ul#listPrdFound.dropdown-menu.p-0.position-absolute.top-100.start-0(style="min-width:unset; z-index:2000;")
                    template#searchp-result-temp
                        li(role="list-prdreq_add")
                            a.dropdown-item.p-2
                                .d-flex
                                    img.img-fluid.rounded(style="width:100px; max-height:100px;")
                                    .ms-2
                                        h5.fs-5
                                        p
                ul.navbar-nav.list-group-horizontal
                    li.nav-item.mx-2(rel="tooltip" data-bs-placement="bottom" title="Giỏ hàng")
                        if sess && sess.rId.rName == "Khách hàng"
                            a.nav-link.text-dark.text-hover-brown.position-relative.p-0.m-2(href='/cart')
                                i(data-feather="shopping-cart")
                                span#cartNum.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-danger(class= cartPrdQuan==0 ? "d-none" : '' )= cartPrdQuan
                        else
                            a.nav-link.text-dark.text-hover-brown(role="button" data-bs-toggle="modal" data-bs-target="#modal-signin" rel="call-modal")
                                i(data-feather="shopping-cart")
                    if sess
                        li.nav-item.dropdown
                            a#user-dropdown.nav-link.dropdown-toggle.user-select-none.text-dark.text-hover-brown(href="#" role="open-dropdown")
                                i(data-feather="user")
                            ul.dropdown-menu.p-0.position-absolute(aria-labelledby='user-dropdown' style="min-width:unset; right:0; left:unset;")
                                li
                                    a.dropdown-item(href='/personal') Tài khoản
                                li
                                    a.dropdown-item(href='/order') Đơn đặt hàng
                                li
                                    a.dropdown-item(href='/customer/logout') Đăng xuất
                    else
                        li.nav-item.mx-2(rel="tooltip" data-bs-placement="bottom" title="Đăng nhập/Đăng ký")
                            a.nav-link.text-dark.text-hover-brown(role="button" data-bs-toggle="modal" data-bs-target="#modal-signin" rel="call-modal")
                                i(data-feather="log-in")
        if !total
            header.mt-2.bg-brown
                .container-fluid(style=`max-width: ${maxWidth}px;`)
                    ul.nav
                        each rt, index in menubar
                            li.nav-item.py-2.dropdown-trigger.position-relative
                                a.nav-link.fw-bold.text-light.px-2.px-md-4(href= rt.url)= rt.title
                                ul.dropdown-items.bg-white.mt-2.w-100
                                    each pc in rt.pcs
                                        li
                                            a.p-2.text-dark(href= pc.url)= pc.title
        main.flex-shrink-0.bg-light
            if messages
                #toast.toast.position-absolute.m-2.end-0.z-index-3(role='alert' aria-live='assertive' aria-atomic='true' data-bs-animation="true")
                    .toast-header.text-white(class= `bg-${messages.color}`)
                        span.me-1(data-feather=messages.icon)
                        strong#message-title.me-auto= messages.title
                        //- small.text-muted just now
                        button.btn-close(type='button' data-bs-dismiss='toast' aria-label='Close' style="opacity:.9;filter:invert(1);")
                    #messages-text.toast-body= messages.text
            block content

            // FOOTER
            footer.position-absolute.bottom-0.w-100.bg-black-brown.py-3
                .container-fluid.mx-auto(style="max-width:1200px")
                    .row
                        .col-6
                            h5.text-light= (shopinfo)? shopinfo.siName : "Đồ gỗ nội thất"
                            if !total
                                ul.list-unstyled.text-small.mb-0
                                    each rt in menubar
                                        li
                                            a.link-secondary.text-decoration-none(href= rt.url)= rt.title
                        .col-6
                            h5.text-light Về cửa hàng
                            ul.list-unstyled.text-small.mb-0
                                if shopinfo
                                    li.link-secondary= `Hotline: ${shopinfo.siHotline || ''}`
                                    li.link-secondary= `Địa chỉ: ${shopinfo.siAddress || ''}`
                                    li
                                        a.link-secondary.text-decoration-none(href=shopinfo.siFacebook || '' target="_blank") Facebook
                                    li
                                        a.link-secondary.text-decoration-none(href='#') Zalo


            if !sess
                include ./signinsignup.pug
