extends ./layout.pug
block content
	form.needs-validation.container-fluid.pb-5(style=`max-width: ${maxWidth}px;` action="/prepare-order/add" method="post" novalidate)
		nav.py-3.mt-3(aria-label="breadcrumb")
			ol.breadcrumb.m-0
				li.breadcrumb-item
					a.text-brown.text-decoration-none(href="/") Trang chủ
				li.breadcrumb-item.active
					span.text-decoration-none= pI.title
		// cart
		.h4.text-brown= pI.title
		.card.mb-3
			.card-header.fw-bold.text-brown.required Thông tin giao hàng
			.card-body
				.input-group
					select.form-select(name="adId" required)
						each da in das
							option(value=da._id selected= da.adIsDefault)= `${da.adReceiver} - ${da.adNumber}. ${da.adDetail}, ${da.adWard}, ${da.adDistrict}, ${da.adProvince} ${da.adIsDefault ? '(Mặc định)': ''}`
					button.btn.btn-outline-brown.border-radius-end(type="button" role="add-da" rel="tooltip" data-bs-placement="top" title="Thêm địa chỉ" data-bs-toggle="modal" data-bs-target="#modal-da")
						span(data-feather="plus")
					.invalid-feedback Thông tin giao hàng là bắt buộc

		.card.mb-3
			.card-header.fw-bold.text-brown.required Danh sách sản phẩm
			.card-body.py-2
				each p in prds
					.prd.d-flex.mb-2
						.me-3.d-flex.align-items-center(style="min-width:90px;")
							a.text-decoration-none.text-brown(href=p.url target="_blank")
								img.rounded.img-fluid(src=p.img style="height:100px; width: 100px;")
						.flex-fill
							a.text-decoration-none.text-brown.fw-bold(href=p.url target="_blank")= p.pname
							.d-flex.justify-content-between.flex-column.flex-md-row
								span
									.div= `${p.priceDisplay} x ${p.quantity}`
								span.ms-md-auto.text-dark.me-md-3
									span Tạm tính: 
									span(rel="total-prd-price")= p.totalDisplay
		.card.mb-3
			.card-header.fw-bold.text-brown.required Hình thức thanh toán
			.card-body
				each pm, idx in pms
					.form-check.mb-2
						input.form-check-input(id=`pm${idx}` type="radio" name="pmId" value= pm._id checked=idx==0 required)
						label.form-check-label.fw-bold(for=`pm${idx}`)= pm.pmName
						.bg-light.p-2(class=idx==0?"":"d-none" rel="pmDesc" style="border-radius:.5rem; transition: .5s")= pm.pmDesc

		.card.mb-3
			.card-header.fw-bold.text-brown Ghi chú
			.card-body
				textarea#oNote.form-control(name="oNote" type="text" placeholder="Ghi chú cho đơn hàng" style="min-height:80px;")
		.h4.fw-bold.text-end.text-brown(rel="total-cart-price")= 'Tổng tiền: ' + total
		.text-end.mb-3.d-grid.d-md-block
			button.btn.btn-brown.px-4(type="submit") Đặt hàng

	include da-modal.pug
	script(src="/js/da.js" defer) 