extends ./layout.pug
block content
	.container-fluid.pb-5(style=`max-width: ${maxWidth}px;`)
		nav.py-3(aria-label="breadcrumb")
			ol.breadcrumb.m-0
				li.breadcrumb-item
					a.text-brown.text-decoration-none(href="/") Trang chủ
				li.breadcrumb-item
					a.text-brown.text-decoration-none(href="/"+ prd.pcId.rtId.slugName)= prd.pcId.rtId.rtName
				li.breadcrumb-item
					a.text-brown.text-decoration-none(href="/"+ prd.pcId.slugName)= prd.pcId.pcName
				li.breadcrumb-item.active
					span.text-decoration-none= prd.name
		// product detail
		.row.row-cols-2.row-cols-md-2.g-0.mb-5
			.col.bg-white.p-3
			.col.bg-white.p-3
				.h4.text-brown.pb-4.pt-3= prd.name
				.mt-2.pb-2.border-bottom
					b Kích thước: 
					span= prd.size
				.mt-2.pb-2.border-bottom
					b Đơn vị tính: 
					span= prd.unit
				.mt-2.pb-2.border-bottom
					b Chú ý: 
					span Nhận đặt theo kích thước
				.mt-2.pb-2.border-bottom
					b Miễn phí: 
					span Tư vấn, lắp đặt, vận chuyển
				.mt-2.pb-2
					span.h4.text-danger= prd.priceAfter
					del.ms-2.text-secondary= prd.price
				.mt-2.pb-2.d-flex
					.div
						.input-group
							button.btn.btn-light.border.p-1(rel="sub-quantity")
								span(data-feather="minus")
							input#cdQuantity.form-control.px-1.text-center(name="cdQuantity" type="text" max= prd.stock style="max-width:40px;")
							button.btn.btn-light.border.p-1(rel="add-quantity")
								span(data-feather="plus")
					button.btn.btn-brown.ms-2 Thêm vào giỏ hàng
		// end product detail
		// desc/review
		.nav.nav-tabs.align-items-center.nav-fill(role='tablist')
			button#nav-desc-tab.nav-link.text-secondary.active(data-bs-toggle='tab' data-bs-target='#nav-desc' type='button' aria-controls='nav-desc' aria-selected='true') Mô tả
			button#nav-review-tab.nav-link.text-secondary(data-bs-toggle='tab' data-bs-target='#nav-review' type='button' aria-controls='nav-review' aria-selected='false') Đánh giá
		.tab-content.mb-5
			#nav-desc.tab-pane.fade.pt-3.active.show(role='tabpanel' aria-labelledby='nav-desc-tab')
				.desc.d-none(data-desc= prd.desc)
			#nav-review.tab-pane.fade.pt-3(role='tabpanel' aria-labelledby='nav-review-tab')
				//- form.needs-validation(method="post" action="/customer/review" tabindex="-1" role="dialog" aria-hidden="true" enctype="multipart/form-data" novalidate)
				//- input(type="hidden" name="curPage" value=pI.url)
				//- .form-label-group
				//- 	input#su_username.form-control(name="su_username" type="text" placeholder="Tên tài khoản" required="true" maxlength="50")
				//- 	label.required(for="su_username") Tên tài khoản
				//- 	.invalid-feedback Tên tài khoản là bắt buộc
				//- .row
				//- 	.col-12.col-md-6.form-label-group
				//- 		input#su_password.form-control(name="su_password" type="password" placeholder="Mật khẩu" required="true" maxlength="50")
				//- 		label.ms-2.ps-3.required(for="su_password") Mật khẩu
				//- 		.invalid-feedback Mật khẩu là bắt buộc
				//- 	.col-12.col-md-6.form-label-group
				//- 		input#su_repassword.form-control(name="su_repassword" type="password" placeholder="Nhập lại mật khẩu" required="true" maxlength="50")
				//- 		label.ms-2.ps-3.required(for="su_repassword") Nhập lại mật khẩu
				//- 		.invalid-feedback Nhập lại mật khẩu không đúng
				//- span Thông tin cá nhân
				//- .row
				//- 	.col-12.col-md-6.form-label-group
				//- 		input#cName.form-control(name="cName" type="text" placeholder="Họ tên" required maxlength="50")
				//- 		label.ms-2.ps-3.required(for="cName") Họ tên
				//- 		.invalid-feedback Họ tên là bắt buộc
				//- 	.col-12.col-md-6.form-label-group
				//- 		input#cNumber.form-control(name="cNumber" type="text" placeholder="Số điện thoại" required maxlength="10")
				//- 		label.ms-2.ps-3.required(for="cNumber") Số điện thoại
				//- 		.invalid-feedback Số điện thoại là bắt buộc
				//- 	.col-12.col-md-6.form-label-group
				//- 		input#cDofB.form-control(name="cDofB" type="date")
				//- 		label.ms-2.ps-3(for="cDofB") Ngày sinh
				//- 		.invalid-feedback Ngày sinh không hợp lệ
				//- 	.col-12.col-md-6.form-label-group
				//- 		input#cEmail.form-control(name="cEmail" type="email" placeholder="Email")
				//- 		label.ms-2.ps-3(for="cEmail") Email
				//- 		.invalid-feedback Email không hợp lệ
				//- .position-relative.mb-3
				//- 	label#cimg-preview.img-box.w-100.align-middle(for="cImg" style=`height:400px`).d-flex.justify-content-center.align-items-center
				//- 		input#cImg.btn.btn-success(type="file" name="cImg" accept="image/png, image/jpeg")
				//- 		.title.h-100.d-flex.justify-content-center.align-items-center
				//- 			span(data-feather="upload")
				//- 			span.ms-2 Chọn ảnh
				//- 		img#img-preview.d-none(src="" height=`400px`)
				//- 	span.file_remove.d-none(data-feather="x")
				//- 	.text-danger.d-none(role="errMessage")
				//- 		span.small
				.d-grid
					button.btn.btn-block.btn-brown(type="submit") Gửi đánh giá
		// end desc/review

		h5.bg-white.border-bottom.rounded
			a.d-inline-block.bg-brown.p-3.text-decoration-none.text-white(href= "/" + prd.pcId.slugName) Sản phẩm liên quan
		.row.row-cols-2.row-cols-md-4.g-3.mb-5
			each p in relatePrd
				.col
					.card.h-100.product-card.border-0
						a.position-relative.overflow-hidden(href= p.url)
							img.card-img-top.hover-zoom(src=`img/products/${p.img}`)
							.bg-blur.position-absolute.w-100.h-100.top-0.bg-dark
							.btn-detail.position-absolute.top-100.start-50.btn.btn-brown.p-2.d-flex.align-items-center
								span(data-feather="eye")
								span.ms-1 Chi tiết
						.card-body
							a.card-title.text-decoration-none.text-brown.fw-bold(href= p.url)= p.title
							.fs-5
								del.fs-6.small.text-secondary= p.price
								span.fs-6.small.text-dark= ` (-${p.disc}%)`
								.text-danger.fw-bold= p.priceAfter
			else
				.col-12.text-center
					h4 Không tìm thấy sản phẩm nào!