extends ./layout.pug
block content
	.container-fluid.pb-5(style=`max-width: ${maxWidth}px;`)
		nav.py-3(aria-label="breadcrumb")
			ol.breadcrumb.m-0
				li.breadcrumb-item
					a.text-brown.text-decoration-none(href="/") Trang chủ
				li.breadcrumb-item
					a.text-brown.text-decoration-none(href="/"+ prd.pcId.rtId.slugName)= prd.pcId.rtId.rtName
				li.breadcrumb-item
					a.text-brown.text-decoration-none(href="/"+ prd.pcId.slugName)= prd.pcId.pcName
				li.breadcrumb-item.active
					span.text-decoration-none= prd.name
		// product detail
		.row.row-cols-1.row-cols-md-2.g-0.mb-5
			.col.product-detail.bg-white.p-3
				a.main-img.w-100.position-relative.border-0.overflow-hidden(data-gallery="photoviewer" href=`img/products/${prd.imgMain}`)
					if (prd.disc > 0)
						.fs-5.text-white.bg-danger.p-2.position-absolute.end-0= `-${prd.disc}%`
					img.rounded(src=`img/products/${prd.imgMain}` width="100%")
				each pi, i in prd.imgSub
					a.sub-img.h-100.mt-2(data-gallery="photoviewer" href=`img/products/${pi.piImg}` class=`${i==0 ? '' : 'ms-2'} ${i > 4 ? 'd-none': ''}`)
						if i != 4
							img.mt-2.rounded(src=`img/products/${pi.piImg}` width="100px" style="height:100px;")
						else
							span= `+ ${prd.imgSub.length - 4} ảnh`

			.col.bg-white.p-3
				.h4.text-brown.pb-4.pt-3= prd.name
				.mt-2.pb-2.border-bottom
					b Kích thước: 
					span= prd.size
				.mt-2.pb-2.border-bottom
					b Đơn vị tính: 
					span= prd.unit
				.mt-2.pb-2.border-bottom
					b Miễn phí: 
					span Tư vấn, đo đạc, lắp đặt, vận chuyển
				if prd.stock > 0
					if sess && sess.rId.rName == "Khách hàng"
						.mt-2.pb-2
							span.h4.text-danger= prd.priceAfter
							del.ms-2.text-secondary= prd.price
						.mt-2.pb-2.d-flex.justify-content-center.justify-content-md-start
							.div
								.input-group
									button.btn.btn-light.border.p-1(rel="sub-quantity")
										span(data-feather="minus")
									input#cdQuantity.form-control.px-1.text-center(name="cdQuantity" type="text" max= prd.stock style="max-width:40px;" value="1")
									button.btn.btn-light.border.p-1(rel="add-quantity")
										span(data-feather="plus")
							button#cart-add-product.btn.btn-brown.ms-2(value=prd._id) Thêm vào giỏ hàng
						.text-secondary= `SL trong kho: ${prd.stock}`
						#err-text.text-danger
					else if sess
						.mt-2.pb-2 Đăng nhập bằng tài khoản khách hàng để mua hàng
					else
						button.btn.btn-brown.mt-2.pb-2(data-bs-toggle="modal" data-bs-target="#modal-signin" rel="call-modal") Đăng nhập để mua hàng
				else
					.mt-2.pb-2
						i.h4.text-danger Liên hệ
		// end product detail
		// desc/review
		.nav.nav-tabs.align-items-center.nav-fill(role='tablist')
			button#nav-desc-tab.nav-link.text-secondary.active(data-bs-toggle='tab' data-bs-target='#nav-desc' type='button' aria-controls='nav-desc' aria-selected='true') Mô tả
			button#nav-review-tab.nav-link.text-secondary(data-bs-toggle='tab' data-bs-target='#nav-review' type='button' aria-controls='nav-review' aria-selected='false') Đánh giá
		.tab-content.mb-5
			#nav-desc.tab-pane.fade.pt-3.active.show.bg-white.p-3(role='tabpanel' aria-labelledby='nav-desc-tab')
				.desc.d-none(data-desc= prd.desc)
			#nav-review.tab-pane.fade.pt-3(role='tabpanel' aria-labelledby='nav-review-tab')
				if buyed
					form.needs-validation.mb-3(method="post" action=reviewed ? "/upd-review" : "/add-review" enctype="multipart/form-data" novalidate)
						input(name="pId" type="hidden" value=prd._id required)
						if reviewed
							input(name="_id" type="hidden" value=reviewed._id required)
						.mb-0
							if reviewed
								input#reviewImg.form-control(type="file" name="riImg" accept="image/png, image/jpeg" multiple)
							else
								input#reviewImg.form-control(type="file" name="riImg" accept="image/png, image/jpeg" multiple required)
							.invalid-feedback Ảnh đánh giá là bắt buộc
						#reviewImgs.gallery.mt-3.d-flex.flex-wrap
							if reviewed
								each im in reviewed.imgs
									.position-relative.mx-2.mb-2
										img.sub-img.rounded(src=`img/reviews/${im.riImg}` style="width:100px; height:100px;")
						template#img-preview-template
							.position-relative.mx-2.mb-2
								img.sub-img.rounded(style="width:100px; height:100px;")
						.form-label-group
							input#rScore.form-control(name="rScore" value=reviewed ? reviewed.rScore : "" type="number" placeholder="Số điểm" required)
							label.required(for="rScore") Số điểm
							.invalid-feedback Số điểm là bắt buộc
						.form-label-group.form-floating
							textarea#rContent.form-control(name="rContent" type="text" placeholder="Nội dung" style="min-height:80px;")
								if reviewed
									= reviewed.rContent
							label(for="rContent") Nội dung
							.invalid-feedback Nội dung là bắt buộc
						.d-grid
							button.btn.btn-block.btn-brown(type="submit")= `${reviewed ? "Sửa" : "Thêm"} đánh giá`
					hr
				each r in reviews
					.d-flex
						div
							img.img-fluid.img-circle(src=`/img/users/${r.cId.cImg}` width="80px")
						.ms-3
							span.p-1= `${r.cId.cName} - ${r.rAt}`
							h5.p-1
								- for (var i = 1; i <= r.rScore; i++)
									svg.review-score(enable-background='new 0 0 15 15' viewBox='0 0 15 15' x='0' y='0')
										polygon(points='7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10')
								- for (var i = r.rScore + 1; i <= 5; i++)
									svg.review-score(enable-background='new 0 0 15 15' viewBox='0 0 15 15' x='0' y='0')
										polygon(fill='none' points='7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10')
							div.p-1= r.rContent
							each im in r.imgs
								a(data-gallery="photoviewer" href=`img/reviews/${im.riImg}`)
									img.round.me-1(data-gallery="photoviewer" src=`img/reviews/${im.riImg}` width="80px")

				else
					i Chưa có đánh giá
		// end desc/review

		h5.bg-white.border-bottom.rounded
			a.d-inline-block.bg-brown.p-3.text-decoration-none.text-white(href= "/" + prd.pcId.slugName) Sản phẩm liên quan
		.row.row-cols-2.row-cols-md-4.g-3.mb-5
			each p in relatePrd
				.col
					.card.h-100.product-card.border-0
						a.position-relative.overflow-hidden(href= p.url)
							img.card-img-top.hover-zoom(src=`img/products/${p.img}`)
							.bg-blur.position-absolute.w-100.h-100.top-0.bg-dark
							.btn-detail.position-absolute.top-100.start-50.btn.btn-brown.p-2.d-flex.align-items-center
								span(data-feather="eye")
								span.ms-1 Chi tiết
						.card-body
							a.card-title.text-decoration-none.text-brown.fw-bold(href= p.url)= p.title
							.fs-5
								del.fs-6.small.text-secondary= p.price
								span.fs-6.small.text-dark= ` (-${p.disc}%)`
								.text-danger.fw-bold= p.priceAfter
			else
				.col-12.text-center
					h4 Không tìm thấy sản phẩm nào!