extends ./layout.pug
block content
	main.col-md-9.ms-sm-auto.col-lg-10.px-md-4
		.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom.flex-column.flex-lg-row
			h1.h3.mb-0= title
			.btn-toolbar.mt-2.mb-mt-0
		nav
			#nav-tab.nav.nav-tabs(role='tablist')
				button#nav-banner-tab.nav-link.text-secondary.active(data-bs-toggle='tab' data-bs-target='#nav-banner' type='button' role='tab' aria-controls='nav-banner' aria-selected='true') Banner
				button#nav-paymentmethod-tab.nav-link.text-secondary(data-bs-toggle='tab' data-bs-target='#nav-paymentmethod' type='button' role='tab' aria-controls='nav-paymentmethod' aria-selected='false') Hình thức thanh toán
				button#nav-shopinfo-tab.nav-link.text-secondary(data-bs-toggle='tab' data-bs-target='#nav-shopinfo' type='button' role='tab' aria-controls='nav-shopinfo' aria-selected='false') Thông tin cửa hàng
			#nav-tabContent.tab-content
				#nav-banner.tab-pane.fade.p-3.show.active(role='tabpanel' aria-labelledby='nav-banner-tab')
					.m-auto(style="max-width:900px")
						ul.list-group.sortable-list
							each banner in banners
								li.list-group-item(href='#' aria-current='true' id=`${banner._id}`)
									.d-flex.w-100.justify-content-between.align-items-center
										img(src=`img/banner/${banner.bImg}` style=`max-width: ${imgViewWeight}px; max-height: ${imgViewHeight}px;`)
										.tool
											.btn-group(role="group")
												.panel-handle.btn.btn-sm.btn-outline-primary(rel="tooltip" data-bs-placement="top" title="Sắp xếp")
													span(data-feather="move")
												button.btn.btn-sm.btn-outline-danger(role="delete-banner" type='button' style="border-top-right-radius:.2rem;border-bottom-right-radius:.2rem;" rel="tooltip" data-bs-placement="top" title="Xoá")
													span(data-feather="x")
												ul.dropdown-menu.p-0.position-absolute.top-100(style="min-width:unset")
													li
														a.dropdown-item.p-2.text-danger(href='#' data-id=`${banner._id}` data-bimg=`${banner.bImg}` role="confirm-delete-banner") Xác nhận
													li
														span.dropdown-item.p-2(role="button" rel="cancel-delete-banner") Huỷ
						form.w-100.mx-auto.my-2.needs-validation(method="post" action="/about/banner-add" enctype="multipart/form-data" style="max-width:900px")
							.fs-4 Thêm ảnh
							.position-relative.mb-3
								label#bImg-preview.img-box.align-middle(for="bImg" style=`height:${imgViewHeight-1}px; weight: ${imgViewWeight}px;`).d-flex.justify-content-center.align-items-center
									input#bImg.btn.btn-success(style="z-index:-1;" type="file" name="bImg" accept="image/png, image/jpeg" role="button" required)
									.title.h-100.d-flex.justify-content-center.align-items-center.p-2
										span(data-feather="upload")
										span.ms-2(role="button") Chọn ảnh
									img#img-preview.d-none(src="" style=`max-width:${imgViewWeight}px; height:${imgViewHeight}px`)
								span.file_remove.d-none(data-feather="x")
								.text-danger.mb-3.d-none(role="errMessage")
									span
							button.btn.btn-primary(type="submit") Xác nhận
				#nav-paymentmethod.tab-pane.fade.p-3(role='tabpanel' aria-labelledby='nav-paymentmethod-tab')
					form.needs-validation(method="post" action="/profile/change-password" novalidate)
						.d-grid.m-auto(style="max-width:400px")
							.form-label-group
								input#newPassword.form-control(name="newPassword" type="password" placeholder="Mật khẩu mới" autocomplete="off" minlength="6" maxlength="50" required)
								label(for="newPassword") Mật khẩu mới
								.invalid-feedback Mật khẩu phải có ít nhất 6 kí tự
							.form-label-group
								input#newPassword2.form-control(name="newPassword2" type="password" placeholder="Nhập lại mật khẩu mới" autocomplete="off" maxlength="50" required)
								label(for="newPassword2") Nhập lại mật khẩu mới
								.invalid-feedback Mật khẩu mới không khớp
							.form-label-group
								input#oldPassword.form-control(name="oldPassword" type="password" placeholder="Xác nhận bằng mật khẩu cũ" autocomplete="off" maxlength="50" required)
								label(for="oldPassword") Xác nhận bằng mật khẩu cũ
								.invalid-feedback Mật khẩu cũ không được để trống
						.d-grid.gap-2.m-auto(style="max-width:400px")
							button.btn.btn-block.btn-primary(type="submit") Cập nhật
				#nav-shopinfo.tab-pane.fade.p-3(role='tabpanel' aria-labelledby='nav-shopinfo-tab')
					form.needs-validation(method="post" action="/profile/change-password" novalidate)
						.d-grid.m-auto(style="max-width:400px")
							.form-label-group
								input#newPassword.form-control(name="newPassword" type="password" placeholder="Mật khẩu mới" autocomplete="off" minlength="6" maxlength="50" required)
								label(for="newPassword") Mật khẩu mới
								.invalid-feedback Mật khẩu phải có ít nhất 6 kí tự
							.form-label-group
								input#newPassword2.form-control(name="newPassword2" type="password" placeholder="Nhập lại mật khẩu mới" autocomplete="off" maxlength="50" required)
								label(for="newPassword2") Nhập lại mật khẩu mới
								.invalid-feedback Mật khẩu mới không khớp
							.form-label-group
								input#oldPassword.form-control(name="oldPassword" type="password" placeholder="Xác nhận bằng mật khẩu cũ" autocomplete="off" maxlength="50" required)
								label(for="oldPassword") Xác nhận bằng mật khẩu cũ
								.invalid-feedback Mật khẩu cũ không được để trống
						.d-grid.gap-2.m-auto(style="max-width:400px")
							button.btn.btn-block.btn-primary(type="submit") Cập nhật


