extends ./layout.pug
block content
	main.col-md-9.ms-sm-auto.col-lg-10.px-md-4
		.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom.flex-column.flex-lg-row
			h1.h3.mb-0= pI.title
			.btn-toolbar.mt-2.mb-mt-0
		nav
			#nav-tab.nav.nav-tabs(role='tablist')
				button#nav-banner-tab.nav-link.text-secondary(data-bs-toggle='tab' data-bs-target='#nav-banner' type='button' role='tab' aria-controls='nav-banner' aria-selected='true') Banner
				button#nav-paymentmethod-tab.nav-link.text-secondary(data-bs-toggle='tab' data-bs-target='#nav-paymentmethod' type='button' role='tab' aria-controls='nav-paymentmethod' aria-selected='false') Hình thức thanh toán
				button#nav-shopinfo-tab.nav-link.text-secondary(data-bs-toggle='tab' data-bs-target='#nav-shopinfo' type='button' role='tab' aria-controls='nav-shopinfo' aria-selected='false') Thông tin cửa hàng
			#nav-tabContent.tab-content
				#nav-banner.tab-pane.fade.p-3(role='tabpanel' aria-labelledby='nav-banner-tab')
					.m-auto(style="max-width:900px")
						ul.list-group.sortable-list
							each banner in banners
								li.list-group-item(href='#' aria-current='true' id=`${banner._id}`)
									.d-flex.w-100.justify-content-between.align-items-center
										img(src=`img/banner/${banner.bImg}` style=`max-width: ${imgViewWeight}px; max-height: ${imgViewHeight}px;`)
										.tool
											.btn-group(role="group")
												.panel-handle.btn.btn-sm.btn-outline-primary(rel="tooltip" data-bs-placement="top" title="Sắp xếp")
													span(data-feather="move")
												button.btn.btn-sm.btn-outline-danger(role="open-dropdown" type='button' style="border-top-right-radius:.2rem;border-bottom-right-radius:.2rem;" rel="tooltip" data-bs-placement="top" title="Xoá")
													span(data-feather="x")
												ul.dropdown-menu.p-0.position-absolute.top-100(style="min-width:unset")
													li
														a.dropdown-item.p-2.text-danger(href='#' data-id=`${banner._id}` data-bimg=`${banner.bImg}` role="confirm-delete-banner") Xác nhận
													li
														span.dropdown-item.p-2(role="button" rel="close-dropdown") Huỷ
						form.w-100.mx-auto.my-2.needs-validation(method="post" action="/about/banner-add" enctype="multipart/form-data" style="max-width:900px")
							.fs-4 Thêm ảnh
							.position-relative.mb-3
								label.upload-before.img-box.align-middle(for="bImg" style=`height:${imgViewHeight-1}px; weight: ${imgViewWeight}px;`).d-flex.justify-content-center.align-items-center
									input#bImg.btn.btn-success(style="z-index:-1;" type="file" name="bImg" accept="image/png, image/jpeg" role="button" required)
									.title.h-100.d-flex.justify-content-center.align-items-center.p-2
										span(data-feather="upload")
										span.ms-2(role="button") Chọn ảnh
									img#img-preview.d-none(src="" style=`max-width:${imgViewWeight}px; height:${imgViewHeight}px`)
								span.file_remove.d-none(data-feather="x")
								.text-danger.mb-3.d-none(role="errMessage")
									span
							button.btn.btn-primary(type="submit") Xác nhận
				#nav-paymentmethod.tab-pane.fade.p-3(role='tabpanel' aria-labelledby='nav-paymentmethod-tab')
					.row
						.col-12.col-lg-4.mb-3.mb-lg-0
							form#pm-form.needs-validation(method="post" action="/about/pm-add" novalidate)
								.d-grid.m-auto
									#pm-title.fs-4 Thêm hình thức
									.form-label-group
										input#pmName.form-control(name="pmName" type="text" placeholder="Tên hình thức" autocomplete="off" minlength="0" maxlength="50" required)
										label(for="pmName") Tên hình thức
										.invalid-feedback Tên hình thức không được để trống
									.form-label-group
										input#pmDesc.form-control(name="pmDesc" type="text" placeholder="Mô tả" autocomplete="off" maxlength="256")
										label(for="pmDesc") Mô tả
									fieldset.form-control
										legend.small.text-secondary Trạng thái
										.form-check.form-switch.fs-6
											input#pmState.form-check-input(name="pmState" type='checkbox' checked='true' role="button")
											label.form-check-label(for='pmState') Hiện
								.mt-2
									button#pm-btn_submit.btn.btn-primary.me-2(type="submit") Thêm
									button#pm-btn_cancel.btn.btn-secondary.d-none(type="button") Hủy
						.col-12.col-lg-8
							.fs-4 Danh sách hình thức
							table.table.table-responsive.table-bordered(width="100%")
								thead.text-center
									tr
										th(width="1%").align-middle STT
										th(width="10%").align-middle Tên Hình thức
										th(width="50%").align-middle Mô tả
										th(width="7%").align-middle Trạng thái
										th(width="5%").align-middle Tác vụ
								tbody
									each pm, index in paymentMethods
										tr.align-items-center
											td.align-middle.text-center= index+1
											td.align-middle= pm.pmName
											td.align-middle= pm.pmDesc
											td.align-middle.text-center
												if pm.pmState
													.badge.bg-success Hiện
												else
													.badge.bg-secondary Ẩn
											td.text-center
												.btn-group(role="group")
													button.btn.btn-sm.btn-outline-primary(role="edit-pm" data-id=pm._id data-pmname=pm.pmName data-pmdesc=pm.pmDesc data-pmstate=pm.pmState type='button' rel="tooltip" data-bs-placement="top" title="Sửa")
														span(data-feather="edit-3")
													button.btn.btn-sm.btn-outline-danger(role="open-dropdown" type='button' style="border-top-right-radius:.2rem;border-bottom-right-radius:.2rem;" rel="tooltip" data-bs-placement="top" title="Xoá")
														span(data-feather="x")
													ul.dropdown-menu.p-0.position-absolute.top-100(style="min-width:unset")
														li
															a.dropdown-item.p-2.text-danger(href='#' data-id=pm._id role="confirm-delete-pm") Xác nhận
														li
															span.dropdown-item.p-2(role="button" rel="close-dropdown") Huỷ
				#nav-shopinfo.tab-pane.fade.p-3(role='tabpanel' aria-labelledby='nav-shopinfo-tab')
					form.needs-validation(method="post" action="/about/si-update" enctype="multipart/form-data" novalidate)
						.d-flex.flex-lg-row.flex-column.w-100.m-auto(style="max-width:900px")
							.flex-fill.w-100.position-relative
								label.upload-before.img-box.w-100.align-middle(for="siLogo" style=`height:${imgViewHeight-1}px`).d-flex.justify-content-center.align-items-center
									input#siLogo.btn.btn-success(type="file" name="siLogo" accept="image/png, image/jpeg")
									.title.h-100.d-flex.justify-content-center.align-items-center(class=`${shopInfo.siLogo ? 'd-none' : ''}`)
										span(data-feather="upload")
										span.ms-2 Chọn ảnh
									img#img-preview(src=`${shopInfo.siLogo ? 'img/logo/'+shopInfo.siLogo : ''}` style="max-width:398px;" height=`${imgViewHeight}px` class=`${shopInfo.siLogo ? '' : 'd-none'}`)
								span.file_remove(data-feather="x" class=`${shopInfo.siLogo ? '' : 'd-none'}`)
								.text-danger.mb-3(role="errMessage" class=`${shopInfo.siLogo ? 'd-none' : ''}`)
									span
							.flex-fill.w-100
								.form.pe-0.ps-lg-3.pt-3.pt-lg-0
									.form-label-group
										input#siName.form-control(name="siName" type="text" placeholder="Tên trang" value= shopInfo.siName maxlength="50")
										label(for="siName") Tên trang
									.form-label-group
										input#siAddress.form-control(name="siAddress" type="text" placeholder="Địa chỉ" value= shopInfo.siAddress maxlength="256")
										label(for="siAddress") Địa chỉ
									.form-label-group
										input#siHotline.form-control(name="siHotline" type="text" placeholder="Đường dây nóng" value= shopInfo.siHotline maxlength="12")
										label(for="siHotline") Đường dây nóng
									.form-label-group
										input#siFacebook.form-control(name="siFacebook" type="text" placeholder="Link Facebook" value= shopInfo.siFacebook maxlength="50")
										label(for="siFacebook") Link Facebook
									.form-label-group
										input#siZalo.form-control(name="siZalo" type="text" placeholder="Link Zalo" value= shopInfo.siZalo maxlength="50")
										label(for="siZalo") Link Zalo
						.d-grid.m-auto(style="max-width:900px")
							button.btn.btn-block.btn-primary(type="submit") Cập nhật


