if materials.length == 0
	.h4.fw-normal.text-center Cần thêm 
		a(href="#" rel="switch-tab" data-to="#nav-material-tab") Thông tin NVL
		|  trước
else
	table.table.table-responsive.table-bordered(width="100%")
		thead.text-center
			tr
				td(colspan="8")
					button.btn.w-100.btn-outline-success.d-flex.align-items-center.justify-content-center(type="button" role="add-mtrreq" data-bs-toggle="modal" data-bs-target="#modal-mtrreq")
						span(data-feather="plus")
						span Thêm yêu cầu
			tr
				th.align-middle(rowspan="2") STT
				th.align-middle(rowspan="2") Thời gian - Nhân viên tạo
				th.align-middle(rowspan="2") Thời gian - Nhân viên cập nhật
				th.align-middle(rowspan="2") Lý do
				th.align-middle(colspan="3" width="40%") Danh sách NVL
				th.align-middle(rowspan="2") Tác vụ
			tr
				th.align-middle NVL
				th.align-middle(width="5%") SL
				th.align-middle(width="5%") ĐVT
		tbody
			each mr, index in mtrreqs
				- var ca = mr.createdAt;
				- var ua = mr.updatedAt;
				- mr.createdAt = ca.setUTCHours(ca.getUTCHours() + 7);
				- mr.updatedAt = ua.setUTCHours(ua.getUTCHours() + 7);
				tr
					td.align-middle.text-center= ((pageNumR-1)*pageSize) + index+1
					td.align-middle
						div= mr.createdAt.toISOString().slice(0,10).split('-').reverse().join('/') + ' ' + mr.createdAt.toISOString().slice(11,19)
						span= mr.scId.sName
					td.align-middle
						div= mr.updatedAt.toISOString().slice(0,10).split('-').reverse().join('/') + ' ' + mr.updatedAt.toISOString().slice(11,19)
						span= mr.suId.sName
					td.align-middle= mr.mrReason
					td.align-middle.p-0(colspan="3")
						table.table.m-0(width="100%")
							tbody
								each m, index in mr.mrDetail
									tr.border-bottom-none
										td.border-end
											span(rel="tooltip" data-bs-placement="top" title=`<img width='100px;' src='/img/materials/${m.mId.mImg}'>` data-bs-html="true")= m.mId.mName
										td.text-end.border-end(width="12.5%")= m.mQuantity
										td(width="12.5%")= m.mId.mUnit
					td.align-middle.text-center
						if mr.mrState == 0
							.btn-group(role="group")
								if 'Quản lý, Nhân viên kế toán'.includes(sess.rId.rName)
									button.btn.btn-sm.btn-outline-success(role="open-dropdown" type='button' style="border-top-right-radius:.2rem;border-bottom-right-radius:.2rem;" rel="tooltip" data-bs-placement="top" title="Đánh dấu là đã giải quyết")
										span(data-feather="check")
									ul.dropdown-menu.p-0.position-absolute.top-100(style="min-width:unset")
										li
											a.dropdown-item.p-2.text-success(href='#' data-id=mr._id data-state="1" role="update-state-mtrreq") Xác nhận
										li
											span.dropdown-item.p-2(role="button" rel="close-dropdown") Huỷ
								button.btn.btn-sm.btn-outline-primary(role="edit-mtrreq" data-id=mr._id data-reason=mr.mrReason data-detail= mr.mrDetail type='button' rel="tooltip" data-bs-placement="top" title="Sửa" data-bs-toggle="modal" data-bs-target="#modal-mtrreq")
									span(data-feather="edit-3")
								button.btn.btn-sm.btn-outline-danger(role="open-dropdown" type='button' style="border-top-right-radius:.2rem;border-bottom-right-radius:.2rem;" rel="tooltip" data-bs-placement="top" title="Hủy")
									span(data-feather="x")
								ul.dropdown-menu.p-0.position-absolute.top-100.end-0(style="min-width:unset")
									li
										a.dropdown-item.p-2.text-danger(href='#' data-id=mr._id data-state="-1" role="update-state-mtrreq") Xác nhận
									li
										span.dropdown-item.p-2(role="button" rel="close-dropdown") Huỷ
						else if mr.mrState == -1
							.badge.bg-secondary Đã hủy
						else if mr.mrState == 1
							.badge.bg-success Đã giải quyết
			else
				tr
					td.text-center(colspan="8") Chưa có Yêu cầu nhập nguyên vật liệu!
	if mtrreqs.length > 0
		nav.d-flex.justify-content-between.align-items-center
			span.me-3 Tổng: #{totalR} yêu cầu nhập NVL
			ul.pagination.justify-content-end.mb-0
				li.page-item(class= pageNumR==1 ? 'disabled' : '')
					a.page-link.px-2(href=pI.url)
						span(data-feather="chevrons-left")
				li.page-item(class= pageNumR==1 ? 'disabled' : '')
					a.page-link.px-2(href=`${pI.url}?pname=req&pnum=${pageNumR-1}`)
						span(data-feather="chevron-left")
				- for (var i = 1; i <= totalRP; i++)
					li.page-item(class= pageNumR==i ? 'active' : '')
						a.page-link.h-100.d-flex.align-items-center.px-3(href=`${pI.url}?pname=req&pnum=${i}`)
							span= i
				li.page-item(class= pageNumR==totalRP ? 'disabled' : '')
					a.page-link.px-2(href=`${pI.url}?pname=req&pnum=${pageNumR+1}`)
						span(data-feather="chevron-right")
				li.page-item(class= pageNumR==totalRP ? 'disabled' : '')
					a.page-link.px-2(href=`${pI.url}?pname=req&pnum=${totalRP}`)
						span(data-feather="chevrons-right")
	form#modal-mtrreq.needs-validation.modal.fade(method="post" action="/mtrreq/add" tabindex="-1" role="dialog" aria-hidden="true" novalidate)
		.modal-dialog.modal-dialog-centered.modal-lg
			.modal-content
				.modal-header
					h5#modal-mtrreq-title.modal-title Thêm yêu cầu nhập NVL
					button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
				.modal-body
					.d-grid.m-auto
						.form-label-group.form-floating
							textarea#mrReason.form-control(name="mrReason" type="text" placeholder="Lý do" maxlength="256" style="min-height:80px;" required)
							label(for="mrReason") Lý do
							.invalid-feedback Lý do là bắt buộc
						.fs-4 Danh sách NVL
						#mr-error.text-danger.small.d-none
						table.table.table-bordered.mb-0(width="100%")
							thead
								tr.text-center
									th.align-middle(width="50%") NVL
									th.align-middle(width="20%") Số lượng
									th.align-middle(width="15%") Tác vụ
							tbody#mr-list
								template#mr-item-template
									tr.text-center
										td.p-1.text-start.align-middle
											span.p-1(rel="material-name")
											input(type="hidden" name="mId" required)
										td.p-1.align-middle
											input.form-control.p-1(name="mQuantity" type="number" max="1000" required)
											.invalid-feedback Số lượng là bắt buộc
										td.p-1.align-middle
											button.btn.p-1.btn-white.btn-hover_danger.border-0(value="" role="list-mtrreq_delete" type='button' rel="tooltip" data-bs-placement="top" title="Xoá")
												span(data-feather="x")
							tfoot
								tr
									td.text-center(colspan="3")
										.input-group
											input.form-control(type="text" name="mfind" placeholder="Nhập tên NVL")
											button.btn.btn-outline-success.border-radius-end(type="button" rel="find-material" role="open-dropdown")
												span(data-feather="search")
											ul#listMtrreqItem.dropdown-menu.p-0.position-absolute.top-100.start-0(style="min-width:unset")
											template#search-result-temp
												li(role="list-mtrreq_add")
													.dropdown-item.p-2
														.d-flex
															img.img-fluid.rounded(style="width:100px; max-height:100px;")
															.ms-2
																h5.fs-5
				.modal-footer.d-grid(style="justify-content: unset")
					button.btn.btn-primary(type="submit") Lưu
script(src="js/mtrreq.js" defer)