extends ./layout.pug
block content
	main.col-md-9.ms-sm-auto.col-lg-10.px-md-4
		.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom.flex-column.flex-lg-row
			h1.h3.mb-0= pI.title
			.btn-toolbar.mt-2.mb-mt-0
		#nav-tab.nav.nav-tabs(role='tablist')
			button#nav-o_pings-tab.position-relative.nav-link.text-secondary(data-bs-toggle='tab' data-bs-target='#nav-o_pings' type='button' role='tab' aria-controls='nav-o_pings' aria-selected='false')
				span Chờ xử lý
				span.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-danger(class= o_pings.length==0 ? "d-none" : '' )= o_pings.length
			button#nav-o_gings-tab.position-relative.nav-link.text-secondary(data-bs-toggle='tab' data-bs-target='#nav-o_gings' type='button' role='tab' aria-controls='nav-o_gings' aria-selected='false')
				span Chờ chuẩn bị hàng
				span.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-danger(class= o_gings.length==0 ? "d-none" : '' )= o_gings.length
			button#nav-o_dings-tab.position-relative.nav-link.text-secondary(data-bs-toggle='tab' data-bs-target='#nav-o_dings' type='button' role='tab' aria-controls='nav-o_dings' aria-selected='false')
				span Chờ giao hàng
				span.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-danger(class= o_dings.length==0 ? "d-none" : '' )= o_dings.length
			button#nav-o_deds-tab.position-relative.nav-link.text-secondary(data-bs-toggle='tab' data-bs-target='#nav-o_deds' type='button' role='tab' aria-controls='nav-o_deds' aria-selected='false') Đã giao hàng
			button#nav-o_ceds-tab.position-relative.nav-link.text-secondary(data-bs-toggle='tab' data-bs-target='#nav-o_ceds' type='button' role='tab' aria-controls='nav-o_ceds' aria-selected='true') Đã Hủy
			.ms-auto.text-right
				if 'Quản lý, Nhân viên bán hàng'.includes(sess.rId.rName)
					button.btn.btn-outline-success.d-flex.align-items-center(type="button" role="add-order" data-bs-toggle="modal" data-bs-target="#modal-order")
						span(data-feather="plus")
						span Tạo đơn đặt hàng
		#nav-tabContent.tab-content
			#nav-o_pings.tab-pane.fade.p-3(role='tabpanel' aria-labelledby='nav-o_pings-tab')
				each o in o_pings
					include ./orderM-prd.pug
						.d-flex.justify-content-end
							if 'Quản lý, Nhân viên bán hàng'.includes(sess.rId.rName)
								if o.amountpaid > 0
									button.btn.btn-outline-danger.d-flex.align-items-center(role="update-state" type='button' data-id=o._id data-state=huyId data-sn="bh" data-bs-toggle="modal" data-bs-target="#modal-state")
										span(data-feather="x")
										span.title Hủy đơn hàng
									button.btn.btn-primary.ms-2.d-flex.align-items-center(role="update-state" type='button' data-id=o._id data-state=datnId data-sn="bh" data-recdate="true" data-bs-toggle="modal" data-bs-target="#modal-state")
										span(data-feather="check")
										span.title Xác nhận tiếp nhận đơn hàng
								else
									i *Chỉ có thể tiếp nhận đơn hàng sau khi đã thanh toán
							else if 'Nhân viên kế toán' == sess.rId.rName && !o.pmId.pmName.includes('NCB')
								if o.amountpaid == 0
									button.btn.btn-outline-success.d-flex.align-items-center.me-2(role="update-money" type='button' data-id=o._id data-money=o.total*0.3 data-bs-toggle="modal" data-bs-target="#modal-money")
										span(data-feather="dollar-sign")
										span.title Thanh toán tiền cọc
								if o.amountpaid < o.total
									button.btn.btn-outline-success.d-flex.align-items-center(role="update-money" type='button' data-id=o._id data-money=o.total-o.amountpaid data-bs-toggle="modal" data-bs-target="#modal-money")
										span(data-feather="dollar-sign")
										span.title Thanh toán toàn bộ
				else
					i Không có đơn hàng.
			#nav-o_gings.tab-pane.fade.p-3(role='tabpanel' aria-labelledby='nav-o_gings-tab')
				each o in o_gings
					include ./orderM-prd.pug
						.d-flex.justify-content-end
							if 'Quản lý, Nhân viên sản xuất'.includes(sess.rId.rName) && enough
								button.btn.btn-outline-primary(role="update-state" type='button' data-id=o._id data-state=dacbId data-sn="sx" data-bs-toggle="modal" data-bs-target="#modal-state")
									span(data-feather="check")
									span.title Xác nhận đã chuẩn bị hàng
							else if 'Nhân viên kế toán' == sess.rId.rName && !o.pmId.pmName.includes('NCB')
								if o.amountpaid < o.total
									button.btn.btn-outline-success.d-flex.align-items-center(role="update-money" type='button' data-id=o._id data-money=o.total-o.amountpaid data-bs-toggle="modal" data-bs-target="#modal-money")
										span(data-feather="dollar-sign")
										span.title Thanh toán toàn bộ
						i *SL trong kho sẽ bị trừ sau khi xác nhận
				else
					i Không có đơn hàng.
			#nav-o_dings.tab-pane.fade.p-3(role='tabpanel' aria-labelledby='nav-o_dings-tab')
				each o in o_dings
					include ./orderM-prd.pug
						.d-flex.justify-content-end
							if 'Quản lý, Nhân viên giao hàng'.includes(sess.rId.rName)
								button.btn.btn-outline-primary(role="update-state" type='button' data-id=o._id data-state=dagiaoId data-sn="gh" data-bs-toggle="modal" data-bs-target="#modal-state")
									span(data-feather="check")
									span.title Xác nhận đã giao hàng
							else if 'Nhân viên kế toán' == sess.rId.rName && !o.pmId.pmName.includes('NCB')
								if o.amountpaid < o.total
									button.btn.btn-outline-success.d-flex.align-items-center(role="update-money" type='button' data-id=o._id data-money=o.total-o.amountpaid data-bs-toggle="modal" data-bs-target="#modal-money")
										span(data-feather="dollar-sign")
										span.title Thanh toán toàn bộ
				else
					i Không có đơn hàng.
			#nav-o_deds.tab-pane.fade.p-3(role='tabpanel' aria-labelledby='nav-o_deds-tab')
				each o in o_deds
					include ./orderM-prd.pug
						if 'Nhân viên kế toán' == sess.rId.rName && !o.pmId.pmName.includes('NCB')
							if o.amountpaid < o.total
								.d-flex.justify-content-end
									button.btn.btn-outline-success.d-flex.align-items-center(role="update-money" type='button' data-id=o._id data-money=o.total-o.amountpaid data-bs-toggle="modal" data-bs-target="#modal-money")
										span(data-feather="dollar-sign")
										span.title Thanh toán toàn bộ
				else
					i Không có đơn hàng.
			#nav-o_ceds.tab-pane.fade.p-3(role='tabpanel' aria-labelledby='nav-o_ceds-tab')
				each o in o_ceds
					include ./orderM-prd.pug
				else
					i Không có đơn hàng.
			include ./modal/modal-order.pug
			include ./modal/modal-state.pug
			include ./modal/modal-money.pug