extends ./layout.pug
block content
	- var mainimgsize = 500
	- var subimgsize = 70
	main.col-md-9.ms-sm-auto.col-lg-10.px-md-4
		.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom.flex-column.flex-lg-row
			h1.h3.mb-0= pI.title
			.btn-toolbar.mt-2.mb-mt-0
		nav
			#nav-tab.nav.nav-tabs(role='tablist')
				button#nav-classify-tab.nav-link.text-secondary(data-bs-toggle='tab' data-bs-target='#nav-classify' type='button' role='tab') Phân loại sản phẩm
				button#nav-product-tab.nav-link.text-secondary(data-bs-toggle='tab' data-bs-target='#nav-product' type='button' role='tab') Thông tin sản phẩm
				button#nav-prdreq-tab.nav-link.text-secondary(data-bs-toggle='tab' data-bs-target='#nav-prdreq' type='button' role='tab') Yêu cầu bổ sung
			#nav-tabContent.tab-content
				#nav-classify.tab-pane.fade.p-3(role='tabpanel' aria-labelledby='nav-roomtype-tab')
					.row
						.col-12.col-md-6
							include ./roomtype.pug
						.col-12.col-md-6
							include ./category.pug
				#nav-product.tab-pane.fade.p-3(role='tabpanel' aria-labelledby='nav-product-tab')
					table.table.table-bordered(width="100%")
						thead
							form(action="product-management" method="get")
								tr
									td(colspan="2")
										if sess.rId.rName == "Quản lý"
											button.btn.w-100.btn-outline-success.d-flex.align-items-center.justify-content-center(type="button" role="add-product" data-bs-toggle="modal" data-bs-target="#modal-product")
												span(data-feather="plus")
												span Thêm SP
									td.border-end-0(colspan="1")
										select.form-select(name="prdRoom")
											option(value='-1' hidden) -- Chọn loại phòng --
											each rt in roomtypes
												option(value=rt._id selected= rtSelected==rt._id)= rt.rtName
									td.border-end-0.border-start-0(colspan="2")
										select.form-select(name="prdCate")
											option(value='-1' hidden) -- Chọn danh mục --
											each pc in categories
												option(value=pc._id selected= pcSelected==pc._id hidden= (rtSelected!=pc.rtId._id && rtSelected!=-1)||(rtSelected==-1&&pcSelected==-1) rel=pc.rtId._id)= pc.pcName
									td.border-start-0(colspan="4")
										.input-group
											input.form-control(type="text" name="productName" placeholder="Nhập tên sản phẩm" value=keyword)
											button.btn.btn-outline-success(type="submit")
												span(data-feather="search")
											if pcSelected != -1 || rtSelected != -1
												a.btn.btn-danger(href="/product-management" rel="tooltip" data-bs-placement="top" title="Hủy bộ lọc")
													span(data-feather="x")
							tr.text-center
								th.align-middle(width="1%") STT
								th.align-middle(width="10%") Ảnh sản phẩm
								th.align-middle(width="20%") Tên sản phẩm
								th.align-middle Số lượng
								th.align-middle ĐVT
								th.align-middle Giá
								th.align-middle Trạng thái
								if sess.rId.rName == "Quản lý"
									th.align-middle Tác vụ
						tbody
							each p, index in products
								- var ca = p.createdAt;
								- var ua = p.updatedAt;
								- p.createdAt = ca.setUTCHours(ca.getUTCHours() + 7);
								- p.updatedAt = ua.setUTCHours(ua.getUTCHours() + 7);
								tr.text-center
									td.align-middle= ((pageNumP-1)*pageSize) + index+1
									td.align-middle
										each pi in p.pImgs
											if pi.piIsMain
												img.rounded.img-fluid(src=`img/products/${pi.piImg}` style="max-height:100px;")
									td.text-start.align-middle(rel="tooltip" data-bs-placement="top" title=`Ngày tạo: ${p.createdAt.toISOString().slice(0,10).split('-').reverse().join('/') + ' ' + p.createdAt.toISOString().slice(11,19)} - ${p.sId.sName}`)= p.pName
									td.align-middle= p.pStock
									td.align-middle= p.pUnit
									td.text-end.align-middle
										del.text-secondary.fs-6= p.pPrice.toLocaleString("vi", {style: "currency",currency: "VND",})
										span (-#{p.pDiscount}%)
										.fs-4 #{(p.pPrice - p.pPrice*p.pDiscount/100).toLocaleString("vi", {style: "currency",currency: "VND",})}
									td.align-middle
										if p.pState
											.text-success(rel="tooltip" data-bs-placement="top" title="Hiện")
												span(data-feather="eye")
										else
											.text-secondary(rel="tooltip" data-bs-placement="top" title="Ẩn")
												span(data-feather="eye-off")
									if sess.rId.rName == "Quản lý"
										td.align-middle
											.btn-group(role="group")
												button.btn.btn-sm.btn-outline-primary(type="button" role="edit-product" data-id=p._id data-name=p.pName data-unit=p.pUnit data-size=p.pSize data-price=p.pPrice data-discount=p.pDiscount data-desc=p.pDesc data-state=p.pState data-imgs=p.pImgs data-mcon=p.mConsume data-pcid=p.pcId data-bs-toggle="modal" data-bs-target="#modal-product" rel="tooltip" data-bs-placement="top" title="Sửa")
													span(data-feather="edit-3")
												button.btn.btn-sm.btn-outline-danger(role="open-dropdown" type='button' style="border-top-right-radius:.2rem;border-bottom-right-radius:.2rem;" rel="tooltip" data-bs-placement="top" title="Xoá")
													span(data-feather="x")
												ul.dropdown-menu.p-0.position-absolute.top-100(style="min-width:unset")
													li
														a.dropdown-item.p-2.text-danger(href='#' data-id=p._id role="confirm-delete-product") Xác nhận
													li
														span.dropdown-item.p-2(role="button" rel="close-dropdown") Huỷ
							else
								tr
									td(colspan="8") Chưa có sản phẩm!
					if products.length > 0
					nav.d-flex.justify-content-between.align-items-center
						span.me-3 Tổng: #{totalP} sản phẩm
						ul.pagination.justify-content-end.mb-0
							li.page-item(class= pageNumP==1 ? 'disabled' : '')
								a.page-link.px-2(href='/product-management')
									span(data-feather="chevrons-left")
							li.page-item(class= pageNumP==1 ? 'disabled' : '')
								a.page-link.px-2(href=`/product-management?pname=prd&pnum=${pageNumP-1}`)
									span(data-feather="chevron-left")
							- for (var i = 1; i <= totalPP; i++)
								li.page-item(class= pageNumP==i ? 'active' : '')
									a.page-link.h-100.d-flex.align-items-center.px-3(href=`/product-management?pname=prd&pnum=${i}`)
										span= i
							li.page-item(class= pageNumP==totalPP ? 'disabled' : '')
								a.page-link.px-2(href=`/product-management?pname=prd&pnum=${pageNumP+1}`)
									span(data-feather="chevron-right")
							li.page-item(class= pageNumP==totalPP ? 'disabled' : '')
								a.page-link.px-2(href=`/product-management?pname=prd&pnum=${totalPP}`)
									span(data-feather="chevrons-right")

					form#modal-product.needs-validation.modal.fade(method="post" action="/product/add" tabindex="-1" role="dialog" aria-hidden="true" enctype="multipart/form-data" novalidate)
						.modal-dialog.modal-dialog-centered.modal-xl
							.modal-content
								.modal-header
									h5.modal-title
										span#modal-product-title Thêm
										|  chi tiết sản phẩm
									button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
								.modal-body
									.row
										.col-12.col-lg-6.mb-3
											.mb-0
												input#pImg.form-control(type="file" name="pImg" accept="image/png, image/jpeg" multiple required)
												.invalid-feedback Ảnh sản phẩm là bắt buộc
											#pImgs.gallery.mt-3.d-flex.flex-wrap
											template#img-preview-template
												.position-relative.mx-2.mb-2
													img.sub-img.rounded(width=`${subimgsize}px` height=`${subimgsize}px` role="button" rel="tooltip" data-bs-placement="bottom" title="Đặt làm ảnh chính")
													//- span.file-remove(data-feather="x")
											.mt-3 Ảnh chính:
											img#main-img.rounded.img-fluid.d-none(style=`max-height:${mainimgsize}px`)
											input#mainimg-inp(name="mainimg" type="hidden")

										.col-12.col-lg-6
											.row
												.col-12.col-md-6
													.form-floating.mb-3
														select#pcId.form-control.pt-3.pb-0(name="pcId" style="height:calc(3rem + 2px)" required)
															option(hidden value="-1") -- Chọn danh mục --
															each pc in categories
																option(value= pc._id)= pc.pcName
														label.required(for="pcId" style="font-size:14px; padding-top:.75rem;") Danh mục
														.invalid-feedback Danh mục là bắt buộc
												.col-12.col-md-6
													.form-label-group
														input#pName.form-control(name="pName" type="text" placeholder="Tên sản phẩm" maxlength="50" required)
														label.required(for="pName") Tên sản phẩm
														.invalid-feedback Tên sản phẩm là bắt buộc
											.row
												.col-12.col-md-6
													.form-label-group
														input#pUnit.form-control(name="pUnit" type="text" placeholder="Đơn vị tính" maxlength="50" required)
														label.required(for="pUnit") Đơn vị tính
														.invalid-feedback Đơn vị tính là bắt buộc
												.col-12.col-md-6
													.form-label-group
														input#pSize.form-control(name="pSize" type="text" placeholder="Kích thước" maxlength="50" required)
														label.required(for="pSize") Kích thước
														.invalid-feedback Kích thước là bắt buộc
											.row
												.col-12.col-md-6
													.form-label-group
														input#pPrice.form-control(name="pPrice" type="number" placeholder="Giá gốc" required)
														label.required(for="pPrice") Giá gốc
														.invalid-feedback Giá gốc là bắt buộc
												.col-12.col-md-6
													.form-label-group
														input#pDiscount.form-control(name="pDiscount" type="number" placeholder="Giảm giá" min="0" max="100")
														label(for="pDiscount") Giảm giá (%)
														.invalid-feedback Giảm giá là bắt buộc

											.row
												.col-12.col-md-6
													label(for="pFinalPrire") Giá hiển thị
													#pFinalPrire.fs-4
												.col-12.col-md-6
													fieldset.form-control
														legend.small.text-secondary Trạng thái
														.form-check.form-switch.fs-6
															input#pState.form-check-input(name="pState" type='checkbox' role="button")
															label.form-check-label(for='pState') Ẩn
											.fs-5.mt-3 Danh sách NVL tiêu thụ
											#mc-error.text-danger.small.d-none
											table.table.table-bordered.mb-0(width="100%")
												thead
													tr.text-center
														th.align-middle(width="50%") NVL
														th.align-middle(width="20%") Số lượng
														th.align-middle(width="15%") Tác vụ
												tbody#mc-list
													template#mc-item-template
														tr.text-center
															td.p-1.text-start.align-middle
																span.p-1(rel="material-name")
																input(type="hidden" name="mId" required)
															td.p-1.align-middle
																input.form-control.p-1(name="mQuantity" type="number" min="0" max="100" required)
																.invalid-feedback Số lượng là bắt buộc
															td.p-1.align-middle
																button.btn.p-1.btn-white.btn-hover_danger.border-0(value="" role="list-mc_delete" type='button' rel="tooltip" data-bs-placement="top" title="Xoá")
																	span(data-feather="x")
												tfoot
													tr
														td.text-center(colspan="3")
															.input-group
																input.form-control(type="text" name="mfind" placeholder="Nhập tên NVL")
																button.btn.btn-outline-success.border-radius-end(type="button" rel="find-material" role="open-dropdown")
																	span(data-feather="search")
																ul#listMtrconItem.dropdown-menu.p-0.position-absolute.top-100.start-0(style="min-width:unset")
																template#search-result-temp
																	li(role="list-mtrcon_add")
																		.dropdown-item.p-2
																			.d-flex
																				img.img-fluid.rounded(style="width:100px; max-height:100px;")
																				.ms-2
																					h5.fs-5
									label(for="pDesc") Mô tả
									textarea#pDesc.summernote(name="pDesc" type="text" placeholder="Mô tả" maxlength="256" style="min-height:80px;")
								.modal-footer.d-grid(style="justify-content: unset")
									button.btn.btn-primary(type="submit") Lưu
				#nav-prdreq.tab-pane.fade.p-3(role='tabpanel' aria-labelledby='nav-prdreq-tab')
					include ./prdreq.pug



