extends ./layout.pug
block content
	main.col-md-9.ms-sm-auto.col-lg-10.px-md-4
		.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom.flex-column.flex-lg-row
			h1.h3.mb-0= pI.title
			.btn-toolbar.mt-2.mb-mt-0
				if sess.rId.rName == "Quản lý"
					button.btn.btn-sm.btn-outline-success.btn-42.btn-round(type="button" role="add-staff" data-bs-toggle="modal" data-bs-target="#modal-staff" rel="tooltip" data-bs-placement="left" title="Thêm Thành viên")
						span(data-feather="user-plus")
		//- UserList

		each staff, roleName in grpByRole
			p.fs-5.badge.bg-dark= roleName
			.d-flex.flex-wrap
				each user in staff
					.card.mb-3.me-3(style="max-width: 320px;")
						img.bd-placeholder-img.card-img-top(style=`width:${imgViewSize}px;` height=`${imgViewSize}px` src=`img/users/${user.sImg}`)
						.card-body.text-center
							h5.card-title.position-relative(class= !user.sState ? 'text-secondary': '')= user.sName || user.aId.aUsername
								if !user.sState
									small.small.fw-normal  (Đã nghỉ)
							p.card-text
								| #{user.sNumber || "Chưa thêm SĐT"}
								br
								| #{user.sEmail || "Chưa thêm email"}
								br
								- var ca = user.sJoinAt;
								- user.sJoinAt = ca.setUTCHours(ca.getUTCHours() + 7);
								| TG vào làm: #{user.sJoinAt.toISOString().slice(0,10).split('-').reverse().join('/')}
							if sess.rId.rName == "Quản lý" && user.aId.rId.rName != "Quản lý"
								.card-text.text-center
									.btn-group(role="group")
										button.btn.btn-sm.btn-outline-primary(type="button" role="edit-staff" data-id=user._id data-aid=user.aId._id data-ausername=user.aId.aUsername data-sname=user.sName data-sdofb=user.sDofB data-snumber=user.sNumber data-semail=user.sEmail data-rid=user.aId.rId._id data-simg=user.sImg data-sstate=user.sState data-bs-toggle="modal" data-bs-target="#modal-staff" rel="tooltip" data-bs-placement="top" title="Cập nhật thông tin")
											span(data-feather="edit-3")
										button.btn.btn-sm.btn-outline-danger(role="open-dropdown" type='button' style="border-top-right-radius:.2rem;border-bottom-right-radius:.2rem;" rel="tooltip" data-bs-placement="top" title="Xoá")
											span(data-feather="x")
										ul.dropdown-menu.p-0.position-absolute.top-100(style="min-width:unset")
											li
												a.dropdown-item.p-2.text-danger(href='#' data-id=user.aId._id role="confirm-delete-staff") Xác nhận
											li
												span.dropdown-item.p-2(role="button" rel="close-dropdown") Huỷ
		else
			h3.h4.fw-normal Chưa có nhân viên
		//- End UserList
		//- Modal add/update
		form#modal-staff.needs-validation.modal.fade(method="post" action="/staff/add" tabindex="-1" role="dialog" aria-hidden="true" enctype="multipart/form-data" novalidate)
			.modal-dialog.modal-dialog-centered.modal-xl
				.modal-content
					.modal-header
						h5#modal-staff-title.modal-title Thêm nhân viên
						button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
					.modal-body.d-flex.flex-lg-row.flex-column
						.flex-fill.w-100
							.form.pe-0.pe-lg-3
								span Thông tin tài khoản
								.form-label-group
									input#aUsername.form-control(name="aUsername" type="text" placeholder="Tên tài khoản" required)
									label.required(for="aUsername") Tên tài khoản
									.invalid-feedback Tên tài khoản là bắt buộc
								.form-label-group
									input#aPassword.form-control(name="aPassword" type="password" placeholder="Mật khẩu" required)
									label.required(for="aPassword") Mật khẩu
									.invalid-feedback Mật khẩu là bắt buộc
								.form-floating.mb-2
									select#rId.form-select(name="rId" required="true")
										each role in roles
											option(value=role._id)= role.rName
									label(for="rId") Quyền
								span Thông tin cá nhân
								.form-label-group
									input#sName.form-control(name="sName" type="text" placeholder="Tên nhân viên" required)
									label.required(for="sName") Tên nhân viên
									.invalid-feedback Tên nhân viên là bắt buộc
								.d-flex
									.flex-fill.form-label-group.pe-2
										input#sDofB.form-control(name="sDofB" type="date")
										label(for="sDofB") Ngày sinh
										.invalid-feedback Ngày sinh không hợp lệ
									.flex-fill.form-label-group
										input#sNumber.form-control(name="sNumber" type="text" placeholder="Số điện thoại" required)
										label.required(for="sNumber") Số điện thoại
										.invalid-feedback Số điện thoại là bắt buộc
								.form-label-group
									input#sEmail.form-control(name="sEmail" type="email" placeholder="Email" required)
									label.required(for="sEmail") Email
									.invalid-feedback Email là bắt buộc
								.form-check.form-switch.fs-6
									input#sState.form-check-input(name="sState" type='checkbox' checked='true' role="button")
									label.form-check-label(for='sState') Đang làm việc
						.flex-fill.w-100.position-relative
							label#simg-preview.img-box.w-100.align-middle(for="sImg" style=`height:${imgPreviewSize-1}px`).d-flex.justify-content-center.align-items-center
								input#sImg.btn.btn-success(type="file" name="sImg" accept="image/png, image/jpeg")
								.title.h-100.d-flex.justify-content-center.align-items-center
									span(data-feather="image")
									span.ms-2 Chọn ảnh
								img#img-preview.d-none(src="" height=`${imgPreviewSize}px`)
							span.file_remove.d-none(data-feather="x")
							.text-danger.d-none(role="errMessage")
								span.small
					.modal-footer.d-grid.gap-2(style="justify-content: unset")
						button.btn.btn-primary(type="submit") Lưu
		//- End Modal add/update


