extends ./layout.pug
block content
	main.col-md-9.ms-sm-auto.col-lg-10.px-md-4
		.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
			h1.h3= title
			.btn-toolbar.mb-2.mb-md-0
				.btn-group.me-2
				button.btn.btn-sm.btn-outline-secondary(type="button" role="add-staff" data-bs-toggle="modal" data-bs-target="#modal-staff")
					span(data-feather="user-plus")
					|  Thêm

		.d-flex.flex-wrap.justify-content-around
			each user in users
				.card.mb-2(style="max-width: 320px;")
					img.bd-placeholder-img.card-img-top.me-2(width="100%" height="auto" src=`img/users/${user.avatar}`)
					.card-body.text-center
						h5.card-title= user.fullname || user.username
						p.card-text
							div #{user.phone || "Chưa thêm SĐT"}
							div #{user.email || "Chưa thêm email"}
						if sess.role.rNumber == 1
							p.card-text
								button.btn.btn-primary(type="button" role="edit-staff" data-id=user._id data-fullname=user.fullname data-username=user.username data-phone=user.phone data-email=user.email data-rnumber=user.role.rNumber data-bs-toggle="modal" data-bs-target="#modal-staff") Cập nhật
								//- button.btn.btn-danger(type="button" role="delete-staff" data-id=user._id)
			else
				h3.h4.font-weight-normal Chưa có nhân viên

	form#modal-staff.modal.fade(method="post" action="/staff/add" tabindex="-1" role="dialog" aria-hidden="true")
		.modal-dialog.modal-dialog-centered
			.modal-content
				.modal-header
					h5#modal-staff-title.modal-title Thêm nhân viên
					button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
				.modal-body
					span.required Thông tin tài khoản
					.form-label-group
						input#username.form-control(name="username" type="text" placeholder="Tên đăng nhập" required="true")
						label(for="username") Tên tài khoản
					.form-label-group
						input#password.form-control(name="password" type="password" placeholder="Mật khẩu" required="true")
						label(for="password") Mật khẩu
					.form-floating
						select#rNumber.form-select(name="rNumber" required="true")
							each role in roles
								option(value=role.rNumber selected= role.rNumber == 2)= role.rTitle
						label(for="rNumber") Quyền

					details#details.mt-3
						summary Thông tin cá nhân
						.form-label-group
							input#fullname.form-control(name="fullname" type="text" placeholder="Tên nhân viên")
							label(for="fullname") Tên nhân viên
						.form-label-group
							input#phone.form-control(name="phone" type="text" placeholder="Số điện thoại")
							label(for="phone") Số điện thoại
						.form-label-group
							input#email.form-control(name="email" type="email" placeholder="Email")
							label(for="email") Email
					if errMessage
						#errMessage.alert.alert-danger= errMessage
				.modal-footer.d-grid.gap-2(style="justify-content: unset")
					button.btn.btn-primary(type="submit") Lưu



