extends ./layout.pug
block content
	- var mainimgsize = 500
	- var subimgsize = 70
	main.col-md-9.ms-sm-auto.col-lg-10.px-md-4
		.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom.flex-column.flex-lg-row
			h1.h3.mb-0= pI.title
			.btn-toolbar.mt-2.mb-mt-0
		nav
			#nav-tab.nav.nav-tabs(role='tablist')
				button#nav-material-tab.nav-link.text-secondary(data-bs-toggle='tab' data-bs-target='#nav-material' type='button' role='tab') Thống kê nguyên vật liệu
				button#nav-product-tab.nav-link.text-secondary(data-bs-toggle='tab' data-bs-target='#nav-product' type='button' role='tab') Thống kê sản phẩm
				button#nav-order-tab.nav-link.text-secondary(data-bs-toggle='tab' data-bs-target='#nav-order' type='button' role='tab') Thống kê đơn đặt hàng
				button#nav-revenue-tab.nav-link.text-secondary(data-bs-toggle='tab' data-bs-target='#nav-revenue' type='button' role='tab') Thống kê doanh thu
			#nav-tabContent.tab-content
				#nav-material.tab-pane.fade.p-3(role='tabpanel' aria-labelledby='nav-material-tab')
					include ./s_material.pug
				#nav-product.tab-pane.fade.p-3(role='tabpanel' aria-labelledby='nav-product-tab')
					include ./s_product.pug
					//- table.table.table-bordered(width="100%")
					//- 	thead
					//- 		tr.text-center
					//- 			th.align-middle(width="1%") STT
					//- 			th.align-middle(width="10%") Ảnh sản phẩm
					//- 			th.align-middle(width="20%") Tên sản phẩm
					//- 			th.align-middle Số lượng
					//- 			th.align-middle ĐVT
					//- 			th.align-middle Giá
					//- 			th.align-middle Trạng thái
					//- 			if sess.rId.rName == "Quản lý"
					//- 				th.align-middle Tác vụ
					//- 	tbody
					//- 		each p, index in products
					//- 			- var ca = p.createdAt;
					//- 			- var ua = p.updatedAt;
					//- 			- p.createdAt = ca.setUTCHours(ca.getUTCHours() + 7);
					//- 			- p.updatedAt = ua.setUTCHours(ua.getUTCHours() + 7);
					//- 			tr.text-center
					//- 				td.align-middle= ((pageNumP-1)*pageSize) + index+1
					//- 				td.align-middle
					//- 					each pi in p.pImgs
					//- 						if pi.piIsMain
					//- 							img.rounded.img-fluid(src=`img/products/${pi.piImg}` style="max-height:100px;")
					//- 				td.text-start.align-middle(rel="tooltip" data-bs-placement="top" title=`Ngày tạo: ${p.createdAt.toISOString().slice(0,10).split('-').reverse().join('/') + ' ' + p.createdAt.toISOString().slice(11,19)} - ${p.sId.sName}`)= p.pName
					//- 				td.align-middle= p.pStock
					//- 				td.align-middle= p.pUnit
					//- 				td.text-end.align-middle
					//- 					del.text-secondary.fs-6= p.pPrice.toLocaleString("vi", {style: "currency",currency: "VND",})
					//- 					span (-#{p.pDiscount}%)
					//- 					.fs-4 #{(p.pPrice - p.pPrice*p.pDiscount/100).toLocaleString("vi", {style: "currency",currency: "VND",})}
					//- 				td.align-middle
					//- 					if p.pState
					//- 						.text-success(rel="tooltip" data-bs-placement="top" title="Hiện")
					//- 							span(data-feather="eye")
					//- 					else
					//- 						.text-secondary(rel="tooltip" data-bs-placement="top" title="Ẩn")
					//- 							span(data-feather="eye-off")


				#nav-order.tab-pane.fade.p-3(role='tabpanel' aria-labelledby='nav-order-tab')
					include ./s_order.pug
				#nav-revenue.tab-pane.fade.p-3(role='tabpanel' aria-labelledby='nav-revenue-tab')
					include ./s_revenue.pug



